.Simulation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 97vw;
    overflow: hidden;
}

.locationMap {
    display: flex;
    width: 100vw;
    height: 95vh;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 10px;
}

.infoPane {
    display: flex;
    flex-direction: column;
    width: 275px;
    min-width: 275px;
    height: 95vh;
    margin: 0px 20px 0px 0px;
    overflow: hidden;
    font-family: sans-serif;
}

.actionPane {
    display: flex;
    flex-direction: column;
    width: 275px;
    min-width: 275px;
    height: 95vh;
    margin: 0px 0px 0px 20px;
    overflow: hidden;
    font-family: sans-serif;
}

.infoPane button {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    width: 180px;
    border-radius: 8px;
    background-color: transparent;
    border: black 2px solid;
    margin: 5px;
}

.globalInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px 20px 0px;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}

.localInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}

.vaccineInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px 20px 0px;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}

.actionInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 15px 0px 10px 0px;
    text-align: center;
}

.selectedInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.globalInfo label {
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.localInfo label {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
    text-align: center;
}

.selectedInfo label {
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.title {
    margin: 15px 0px 10px 0px;
    text-align: center;
}

.title label {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}

.radio-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.radio-group input[type = radio]{
    scale: 1.5;
    margin: 0px 15px 0px 0px;
}

.mark {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.mark label {
    margin: 0px 5px 0px 0px;
}

.mark button {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: black 2px solid;
}

.vaccineHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.vaccineHorizontal label {
    width: 50px;
    min-width: 50px;
    text-align: center;
}

.ruleCategory {
    margin: 10px 0px 0px 0px;
}

.ruleCategory label {
    width: 150px;
    min-width: 150px;
    text-align: center;
}

.vaccineVerticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 0px 40px;
    width: 100px;
}

.vaccineVerticle label {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.vaccineVerticle input {
    width: 165px;
    height: 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: white;
    border: black 2px solid;
    text-align: center;
}

.vaccineInfo select {
    font-size: 18px;
    text-align: center;
    background-color: white;
    border: black 2px solid;
    margin: 0px 20px 0px 0px;
    border-radius: 5px;
}

.vaccineRules {
    margin: 5px 0px 0px 0px;
}   

.vaccineRules input {
    width: 65px;
    font-size: 18px;
    border-radius: 5px;
    background-color: white;
    border: black 2px solid;
    text-align: center;
    margin: 0px 5px 0px 5px;
}

.vaccineRuleOptions {
    flex-direction: row;
    margin: 15px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

.vaccineRuleOptions button {
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    border: black 2px solid;
    text-align: center;
    font-size: 18px;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.legendGroup {
    flex-direction: row;
    margin: 20px;
}

.legendContentGroup {
    display: flex;
    flex-direction: column;
}

.legendContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.legendColor {
    border-radius: 5px;
    border: black 2px solid;
    width: 50px;
    height: 30px;
}

.legendContentGroup label {
    width: 80px;
    font-size: 18px;
    text-align: right;
    margin: 0px 10px 0px 20px;
}

.ruleGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.ruleGroup label {
    text-align: center;
}

.vaccineDisplay {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0px;
}

.vaccineDisplay label {
    font-size: 18px;
    font-weight: normal;
}

.vaccineDisplay button {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 10px 0px 10px;
    border: black 2px solid;
    background-color: white;
    border-radius: 5px;
}

.vaccine {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    border: black 2px solid;
    min-width: 220px;
    margin: 10px;
}

.vaccineName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 10px 10px 0px 10px;
}

.vaccineName label {
    font-size: 18px;
    font-weight: bold;
    min-width: 155px;
}

.vaccineName button {
    font-size: 18px;
    font-weight: normal;
    border-radius: 8px;
    background-color: white;
    border: black 2px solid;
}